<i class="material-icons add">add_circle_outline</i>
<table id="job-table" class="display">
    <thead>
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Created By</th>
        <th>Created At</th>
        <th>Location</th>
        <th>Applicants</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>

    <tbody>
    {% for job in jobs %}
        <tr>
            <td>{{ job.title }}</td>
            <td>{{ job.type.name }}</td>
            <td>{{ job.user != null ? job.user.username : job.organization.name }}</td>
            <td>{{ job.createdAt|date('Y-m-d') }}</td>
            <td>{{ job.location }}</td>
            <td>{{ job.applicants|length }}</td>
            <td>
                <a href="{{ path('app_job_show', {'id' : job.id }) }}">
                    <i class="material-icons">remove_red_eye</i>
                </a>
            </td>
            <td>
                <a href="{{ path('app_job_edit', {'id' : job.id }) }}">
                    <i class="material-icons">edit</i>
                </a>
            </td>
            <td>
                <a href="{{ path('app_job_delete', {'id' : job.id}) }}">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>