{% extends 'base.html.twig' %}
{% import "modules/macro/flash_message.html.twig" as flashes %}

{% block title %}Forgot password{% endblock %}

{% block body %}
    {{ sendResponse is defined ? sendResponse }}
    <div>
        <h3>Retrieve forgot password</h3>
    </div>
    <div class="row">
        {{ form_start(form) }}
        <div class="row">
            <div class="input-field col s12 m12 l12 xl12">
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 l12 xl12">
                {{ form_widget(form.send) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
