<div class="lastResults col s12 m12 l6">
    <h3>Last results</h3>
    {% if lastPartiesGroupByGameName is empty %}
        No Results
    {% else %}
        <ul class="collection with-header">
            {% for gameName,lastParties in lastPartiesGroupByGameName %}
                <li class="collection-header lastResultsGameName">{{ gameName }}</li>
                {% for lastParty in lastParties %}
                    <li class="collection-item avatar">
                        <div class="row valign-wrapper">
                            <div class="col s5 m5 l5 left-align">
                                <img class="circle" src="{{ lastParty.results[0].user.avatar }}">
                                <span class="name">{{ lastParty.results[0].user.username }}</span>
                            </div>
                            <span class="col s2 m2 l2 result center-align">{{ lastParty.results[0].score }} - {{ lastParty.results[1].score }}</span>
                            <div class="col s5 m5 l5 right-align">
                                <span class="name">{{ lastParty.results[1].user.username }}</span>
                                <img class="circle" src="{{ lastParty.results[1].user.avatar }}">
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
</div>
