<h2 class="lastResultsTitle">Last results</h2>
<div class="lastResults">
    {% if lastPartiesGroupByGameName is empty %}
        No Results
    {% else %}
        {% for gameName,lastParties in lastPartiesGroupByGameName %}
            <div class="lastResultsGameName">{{ gameName }}</div>
            {% for lastParty in lastParties %}
                <div class="lastResultItem">
                    <img class="logo1" src="{{ lastParty.results[0].user.avatar }}">
                    {{ lastParty.results[0].user.username }}
                    <span class="result"> {{ lastParty.results[0].score }} - {{ lastParty.results[1].score }}</span>
                    {{ lastParty.results[1].user.username }}
                    <img class="logo2" src="{{ lastParty.results[1].user.avatar }}">
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
</div>
