<nav>
    <div class="nav-wrapper">
        <a href="{{ path('app_home_index') }}" class="brand-logo center">
            <img class="nav-logo" src="{{ asset('build/images/logo.png') }}">
        </a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="{{ path('app_home_index') }}">Home</a></li>
            <li><a href="{{ path('app_players_index') }}">Players</a></li>
            <li><a href="{{ path('app_jobs_index') }}">Jobs</a></li>
            <li><a href="{{ path('app_events_index') }}">Events</a></li>
            <li><a href="{{ path('app_games_index') }}">Games</a></li>
            <li><a href="">Recruitment</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Premium</a></li>
            <li><a class="nav-button waves-effect waves-light btn" href="">Login</a></li>
            <li><a class="nav-button waves-effect waves-light btn" href="">Sign in</a></li>
        </ul>
    </div>
</nav>