{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <div>
        <h3>Reset forgot password</h3>
    </div>
    <div class="row">
        {{ form_start(form) }}
        <div class="row">
            <div class="input-field col s12 m12 l12 xl12">
                {{ form_label(form.password.password) }}
                {{ form_widget(form.password.password) }}
                <div class="form-errors">
                    {{ form_errors(form.password.password) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 l12 xl12">
                {{ form_label(form.password.confirmation) }}
                {{ form_widget(form.password.confirmation) }}
                <div class="form-errors">
                    {{ form_errors(form.password.confirmation) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 l12 xl12">
                {{ form_widget(form.resetPassword) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
