{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    <div class="row">
        <div class="col s12 m12 l12 xl12">
            {{ form_start(registrationForm) }}
            <div class="row">
                <div class="input-field col s8 m8 l8 xl8">
                    {{ form_label(registrationForm.username) }}
                    {{ form_widget(registrationForm.username) }}
                    <div class="form-errors">
                        {{ form_errors(registrationForm.username) }}
                    </div>
                </div>
                <div class="input-field col s4 m4 l4 xl4">
                    {{ form_widget(registrationForm.country) }}
                    {{ form_label(registrationForm.country) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l12 xl12">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email) }}
                    <div class="form-error">
                        {{ form_errors(registrationForm.email) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4 m4 l4 xl4">
                    {{ form_label(registrationForm.firstname) }}
                    {{ form_widget(registrationForm.firstname) }}
                </div>
                <div class="input-field col s4 m4 l4 xl4">
                    {{ form_label(registrationForm.lastname) }}
                    {{ form_widget(registrationForm.lastname) }}
                </div>
                <div class="input-field col s4 m4 l4 xl4">
                    {{ form_label(registrationForm.age) }}
                    {{ form_widget(registrationForm.age) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l12 xl12">
                    {{ form_label(registrationForm.password.password) }}
                    {{ form_widget(registrationForm.password.password) }}
                    <div class="form-errors">
                        {{ form_errors(registrationForm.password.password) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l12 xl12">
                    {{ form_label(registrationForm.password.confirmation) }}
                    {{ form_widget(registrationForm.password.confirmation) }}
                    <div class="form-errors">
                        {{ form_errors(registrationForm.password.confirmation) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12 xl12">
                    <label>
                        {{ form_widget(registrationForm.pro) }}
                        <span>Professional</span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m12 l12 xl12">
                    {{ form_widget(registrationForm.signin) }}
                </div>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('register') }}
{% endblock javascripts %}
