<div id="member-details" class="col s12 m12 l12 xl12" style="height: 300pt; overflow: auto">
    <div class="row" style="border: 1px solid #eeeeee; padding-top: 10px; padding-bottom: 10px; border-radius: 10px; position: relative">
        <div class="col s4 m4 l4 xl4" style="text-align: center">
            <img alt="Avatar" width="200" src="{{ asset(user.avatar) }}">
        </div>
        <div class="col s8 m8 l8 xl8">
            <div class="row" style="margin: 0">
                <div class="row" style="margin-bottom: 5px">
                    <div class="col s6 m6 l6 xl6">
                        <span><strong>{{ user.username }}</strong></span>
                    </div>
                    <div class="col s6 m6 l6 xl6" style="position: absolute; right: 0">
                         {% if not user.teamOwner and app.user and app.user.teamOwner %}
                             <a style="font-size: 10px" data-user-id={{ user.id }} data-team-id={{ team.id }} class="right waves-effect waves-light btn remove-user">
                                 <i class="material-icons left">delete</i>
                                 Remove
                             </a>
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px">
                    <div class="col s14 m14 l4 xl4">
                        <span>
                            Role :
                            {% if user.teamOwner %}
                                Admin
                            {% else %}
                                Member
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px">
                    <div class="col s4 m4 l4 xl4">
                        <img width="30" alt="Flag image" src="{{ asset(user.country.flagPath) }}">
                        <span>{{ asset(user.country.name) }}</span>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 5px">
                    <div class="col s4 m4 l4 xl4">
                        <span>{{ user.subscriptions|length }} {% trans %}followers{% endtrans %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ user.description }}
            </p>
        </div>
    </div>
</div>
