
    <div id="roster-{{ roster.id }}" class="col s3 m3 l3 xl3" style="margin-left: 40px">
        <div class="row" style="margin-bottom: 0;border-radius: 5px 5px 0 0; background-color: #9c27b0; color:white; padding-top:5px; padding-bottom:5px;">
            <div class="col s3 m3 l3 xl3">
                <img style="height: 30px; vertical-align: middle" src="{{ asset(roster.game.posterPath) }}">
            </div>
            <div class="col s7 m7 l7 xl7" style="text-align: center; line-height: 30px">
                <span>{{ roster.name|capitalize }}</span>
            </div>
            {% if app.user and app.user.organization.id == roster.organization.id and app.user.teamOwner %}
                <div class="col s2 m2 l2 xl2" style="text-align: center; line-height: 30px">
                    <a data-roster-id="{{ roster.id }}" class="remove-roster waves-effect waves-light">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col s12 l12 m12 xl12" style="background-color: #b0bec5; border-radius: 0 0 5px 5px;max-height: 100pt; overflow: auto; padding-top:5px">
                {% if roster.users|length > 0 %}
                    {% for user in roster.users %}
                        <div class="row" style="margin-bottom: 0">
                            <div class="col s3 m3 l3 xl3">
                                <img alt="Avatar" style="height: 20px" src="{{ asset(user.avatar) }}">
                            </div>
                            <div class="col s7 m7 l7 xl7" style="text-align: center; line-height: 20px">
                                <span>{{ user.username|capitalize }}</span>
                            </div>
                            {% if app.user and app.user.organization.id == roster.organization.id and app.user.teamOwner %}
                                <div class="col s2 m2 l2 xl2" style="text-align: center; line-height: 20px">
                                    <a data-user-id="{{ user.id }}" data-roster-id="{{ roster.id }}" class="remove-member-from-roster waves-effect waves-light">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row" style="margin-bottom: 0">
                        <div class="col s12 m12 l12 xl12" style="text-align: center; line-height: 20px; padding-bottom: 10px">
                            <span>No members yet !</span>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>