{{ form_start(formAddUserToRoster) }}
<div class="row">
    <div class="input-field col s6 m6 l6 xl6">
        {{ form_label(formAddUserToRoster.username) }}
        {{ form_widget(formAddUserToRoster.username) }}
        <div class="form-errors">
            {{ form_errors(formAddUserToRoster.username) }}
        </div>
    </div>
    <div class="input-field col s4 m4 l4 xl4">
        {{ form_widget(formAddUserToRoster.roster) }}
        {{ form_label(formAddUserToRoster.roster) }}
        <div class="form-errors">
            {{ form_errors(formAddUserToRoster.roster) }}
        </div>
    </div>
    <div class="input-field col s2 m2 l2 xl2">
        {{ form_widget(formAddUserToRoster.add) }}
    </div>
</div>
{{ form_end(formAddUserToRoster) }}
