{% import "modules/macro/flash_message.html.twig" as flashes %}
<div class="chat col l8 m8 s8">
    {{ flashes.get_messages() }}
    <div class="row">
        {{ form_start(form) }}
        <div class="row">
            <div class="input-field col s12">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                <div class="form-errors">
                    {{ form_errors(form.name) }}
                </div>
            </div>
        </div>
        <div class="row">
            <ul id="user-fields-list"
                data-prototype="{{ form_widget(form.users.vars.prototype)|e }}"
                data-widget-tags="{{ '<li></li>'|e }}"
                data-widget-counter="{{ form.children|length }}">
                {% for userField in form.users %}
                    <li>
                        {{ form_errors(userField) }}
                        {{ form_widget(userField) }}
                    </li>
                {% endfor %}
            </ul>
            <button type="button" class="btn add-collection-item" data-list-selector="#user-fields-list">Add user</button>
        </div>
        <div class="row">
            {{ form_errors(form.messages) }}
            {{ form_widget(form.messages.vars.prototype)|raw }}
        </div>
        <div class="row">
            <div class="input-field col s12">
                {{ form_widget(form.add) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>