{{ form_start(searchForm) }}
<div class="row">
    <div class="input-field col s5 m5 l5 xl5">
        <i class="material-icons prefix">search</i>
        {{ form_label(searchForm.word) }}
        {{ form_widget(searchForm.word) }}
        <div class="form-errors">
            {{ form_errors(searchForm.word) }}
        </div>
    </div>
    <div class="input-field col s3 m3 l3 xl3">
        <i class="material-icons prefix">room</i>
        {{ form_widget(searchForm.location) }}
        {{ form_label(searchForm.location) }}
        <div class="form-errors">
            {{ form_errors(searchForm.location) }}
        </div>
    </div>
    <div class="input-field col s2 m2 l2 xl2">
        {{ form_widget(searchForm.type) }}
        {{ form_label(searchForm.type) }}
        <div class="form-errors">
            {{ form_errors(searchForm.type) }}
        </div>
    </div>
    <div class="col s2 m2 l2 xl2">
        <button class="btn waves-effect waves-light" type="submit">
            {% trans %}Search{% endtrans %}
        </button>
    </div>
</div>
{{ form_end(searchForm) }}