<div id="recruitments-list">
    {% if recruitments is empty %}
        No recruitments
    {% else %}
        <ul class="collection recruitment-items">
            {% for recruitment in recruitments %}
                <li class="collection-item avatar recruitment-item valign-wrapper">
                    <div class="col s3 m3 l3 center-align">
                        <span>{{ recruitment.startDate|date }}</span>
                    </div>
                    <div class="col s3 m3 l3 center-align">
                        <a href="{{ path('app_user_show', {"slug" : recruitment.user.username}) }}">
                            <img class="circle" src="{{ recruitment.user.avatar }}" alt=""{{ recruitment.user.username }}>
                        </a>
                    </div>
                    <div class="col s4 m4 l4 center-align">
                        <span class="name">{{ recruitment.user.username }}</span>
                        joined
                        <span class="name">{{ recruitment.organization.name }}</span>
                    </div>
                    <div class="col s3 m3 l3 center-align">
                        <a href="{{ path('app_team_show', {"slug" : recruitment.organization.name}) }}">
                            <img class="circle" src="{{ recruitment.organization.logoPath }}" alt="{{ recruitment.organization.name }}">
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>