{% if app.user %}
<ul id="dropdown-user" class="dropdown-content">
    <li><a href="{{ path('app_user_show', {'slug': app.user.slug}) }}">{% trans %}Profile{% endtrans %}</a></li>
    <li><a href="{{ path('app_security_logout') }}">{% trans %}Logout{% endtrans %}</a></li>
</ul>
{% endif %}

<ul id="dropdown-members" class="dropdown-content">
    <li><a href="{{ path('app_user_list') }}">{% trans %}Players{% endtrans %}</a></li>
    <li><a href="{{ path('app_team_list') }}">{% trans %}Teams{% endtrans %}</a></li>
    <li class="divider"></li>
    <li><a href="{{ path('app_sponsor_list') }}">{% trans %}Sponsors{% endtrans %}</a></li>
    <li><a href="{{ path('app_advertiser_list') }}">{% trans %}Advertisers{% endtrans %}</a></li>
</ul>

<nav>
    <div class="nav-wrapper">
        <a href="{{ path('app_home_index') }}" class="brand-logo center">
            <img alt="Logo E-Sportial" class="nav-logo" src="{{ asset('build/images/logo.png') }}">
        </a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="{{ path('app_home_index') }}">{% trans %}Home{% endtrans %}</a></li>
            <li><a class="dropdown-trigger" data-target="dropdown-members">Members<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="{{ path('app_job_list') }}">{% trans %}Jobs{% endtrans %}</a></li>
            <li><a href="{{ path('app_event_list') }}">{% trans %}Events{% endtrans %}</a></li>
            <li><a href="{{ path('app_game_list') }}">{% trans %}Games{% endtrans %}</a></li>
            <li><a href="">{% trans %}Recruitment{% endtrans %}</a></li>
        </ul>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Premium</a></li>
            {% if not app.user %}
                <li><a href="{{ path('app_security_login') }}">{% trans %}Login{% endtrans %}</a></li>
                <li><a href="{{ path('app_registration_register') }}">{% trans %}Sign in{% endtrans %}</a></li>
            {% else %}
                <li  class="dropdown-trigger"  data-target="dropdown-user"><a>{{app.user.username}}</a></li>
            {% endif %}
        </ul>
    </div>
</nav>